.photo{
    height: 125px;
}

.card{
    padding: 5px;
    background-color: aqua;
    text-align: center;

}
.line{
    padding: 5px;
    background-color: coral;
}
.line__fone{
    background-color: cadetblue;
    margin: 2px;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    list-style: none;
}