@font-face {
    font-family: Volkhov;
    src: url(./fonts/Volkhov-Regular.ttf);
}

header .fa-solid{
    display: none;
}
header {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    z-index: 100;
    align-items: center;
    background-color: black;
}

.header-main {
    background-color: black;
    flex-grow: 1;
    align-items: center;
  
 


}

.header-img {
    width: 253px;
    position: relative;
    z-index: 1;
    background-color: aliceblue;
}

.format {
    text-decoration: none;
    color: white;

}

.header-text {
    font-family: Rosario;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
section{
    margin: 0 auto;
    max-width: 1600px;
}

.gallery1 {
    display: flex;
    margin: 2% 46px 64px 64px;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}


.gallery1-center {
    display: grid;
    grid-template: 410px 364px /465px 465px;
    gap: 42px 18px;
    justify-content: center;
    z-index: 3;

}



.gallery-center-container-1 {
    align-content: center;
background-size: contain;
}

.gallery-center-container-2 {
    background: url(./img/2.png);
    animation-name: galleryPhoto1;
    animation-duration: 1s;
    animation-timing-function: linear;
    z-index: 1;
    opacity: 0;
background-size: contain;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
 
}


@keyframes galleryPhoto1 {
    from {
        position: relative;
        transform: translate(-1000px, 0)
    }

    to {
        transform: translate(0, 0);
        opacity: 100%;
    }
}

@keyframes galleryPhoto2 {
    from {
        position: relative;
        transform: translate(1000px, 0)
    }

    to {
        transform: translate(0, 0);
        opacity: 100%;
    }
}
@keyframes galleryPhoto3 {
    from {
        position: relative;
        transform: translate(-1000px, 0)
    }

    to {
        transform: translate(0, 0);
        opacity: 100%;
    }
}

@keyframes galleryPhoto4 {
    from {
        position: relative;
        transform: translate(1000px, 0)
    }

    to {
        transform: translate(0, 0);
        opacity: 100%;
    }
}


.gallery-center-container-4 {

    background-image: url(./img/4.png);
    background-repeat: no-repeat;
    animation-name: galleryPhoto2;
    animation-duration: 1s;
    animation-timing-function: linear;
    z-index: 1;
    opacity: 0;
    animation-fill-mode: forwards;
    background-size: contain;
}

.gallery-center-container-3 {
    width: 460px;
    height: 364px;
    background-image: url(./img/3.png);
    animation-name: galleryPhoto1;
    animation-duration: 1s;
    animation-timing-function: linear;
    z-index: 1;
    opacity: 0;
    background-size: contain;
    animation-fill-mode: forwards;
}

.gallery-center-container-5 {

    background-image: url(./img/5.png);
    background-repeat: no-repeat;
    animation-name: galleryPhoto2;
    animation-duration: 1s;
    animation-timing-function: linear;
    z-index: 1;
    opacity: 0;
    background-size: contain;
    animation-fill-mode: forwards;
}

.gallery-first {
    width: 370px;
    height: 583px;
    background-image: url(./img/1.png);
    background-repeat: no-repeat;
    animation-name: galleryPhoto3;
    animation-duration: 2s;
    animation-timing-function: linear;
    z-index: 1;
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    margin-right: 2%;

}

.gallery-last {
    width: 370px;
    height: 583px;
    background-image: url(./img/6.png);
    animation-name: galleryPhoto4;
    animation-duration: 2s;
    animation-timing-function: linear;
    z-index: 2;
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    margin-left: 2%;

}

.screen-1 {
    min-height: 90vh;
    max-height: 100vh;
}
.screen-2 {
    min-height: 90vh;
    max-height: 100vh;
}
.screen-3 {
    min-height: 100vh;
    max-height: 100vh;
}
.screen-4 {
    min-height: 90vh;
    max-height: 100vh;
}

.gallery-2 {
    display: flex;

}

.gallery-2-left {
    display: grid;
    grid-template: 50vh 50vh/25vw 25vw ;
    gap: 120px;
    margin: 26px 9% 39px 3%;
    position: relative;
    

}

.gallery-2-left-text {
    text-align: center;
    font-family: Rosario;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;

}

.gallery-2-right {
    width: 46%;
   position: absolute;
   right: 0;
}

.gallery-2-right-img {
    width: 100%;
}

.gallery-2-left-ellips-1 {
    animation: roundLittle 10s linear infinite;
}

.gallery-2-left-ellips-2 {
    animation: roundLittle 10s linear infinite;
}

.gallery-2-left-ellips-3 {
    animation: roundLittle 10s linear infinite;
}

.gallery-2-left-ellips-4 {
    animation: roundLittle 10s linear infinite;
}

@keyframes roundLittle {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes roundMain-1  {
    0%{
        top: 0;
        left: 0;
    }

    25%{
        top: 0;
        left: 50%;
    }

    50%{
        top: 50%;
        left: 50%;
    }

    75%{
        top: 50%;
        left: 0;
    }
    100%{
        top: 0;
        left: 0;
    }
}
    .gallery-2-left-block-1{
        position: absolute;
        animation: roundMain-1 10s linear infinite;

    }

    @keyframes roundMain-2  {
        0%{
            top: 0;
            left: 50%;
        }
    
        25%{
            top: 50%;
            left: 50%;
        }
    
        50%{
            top: 50%;
            left: 0;
        }
    
        75%{
            top: 0;
            left: 0;
        }
        100%{
            top: 0;
            left: 50%;
        }
    }
    .gallery-2-left-block-2{
        position: absolute;
        top: 50%;
        left: 0;
        animation: roundMain-2 10s linear infinite;
    }

    @keyframes roundMain-3  {
        100%{
            top: 50%;
            left: 50%;
        }
    
        0%{
            top: 50%;
            left: 50%;
        }
    
        25%{
            top: 50%;
            left: 0;
        }
    
        50%{
            top: 0;
            left: 0;
        }
        75%{
            top: 0;
            left: 50%;
        }
    }
    .gallery-2-left-block-3{
        position: absolute;
        animation: roundMain-4 10s linear infinite;
    }

    @keyframes roundMain-4  {
        75%{
            top: 50%;
            left: 50%;
        }
    
        100%{
            top: 50%;
            left: 0%;
        }
    
        0%{
            top: 50%;
            left: 0;
        }
    
        25%{
            top: 0;
            left: 0;
        }
        50%{
            top: 0;
            left: 50%;
        }
    }
    .gallery-2-left-block-4{
        position: absolute;
        animation: roundMain-3 10s linear infinite;
    }

.screen-3-tittle{
font-family: Rosario;
font-size: 96px;
font-weight: 700;
line-height: 116px;
letter-spacing: 0em;
text-align: center;
margin: 7% 6% 2% 6%;
padding-top: 3% ;
padding-bottom: 1%;

}

.screen-3-photo{
    display: flex;
    justify-content: space-around;
    height: 670px;
    
}
.screen-3-photo-1{
    background:url(./img/Rectangle\ 8.png);
  width: 404px;
  background-repeat: no-repeat;
  border-radius:0px 0px 25px 25px;
}

.screen-3-photo-2{
    background:url(./img/Rectangle\ 9.png);
  width: 392px;
  background-repeat: no-repeat;
  border-radius:0px 0px 25px 25px;
}

.screen-3-photo-3{
    background:url(./img/Rectangle\ 10.png);
  width: 400px;
  background-repeat: no-repeat;
  border-radius:0px 0px 25px 25px;
}

.screen-3-photo-4{
    background:url(./img/Rectangle\ 11.png);
  width: 396px;
  background-repeat: no-repeat;
  border-radius:0px 0px 25px 25px;
}

.screen-3-text{
position: relative;
top: 500px;
text-align: center;
}

.text-format{
font-family: Volkhov;
font-size: 48px;
font-weight: 400;
line-height: 62px;
letter-spacing: 0em;
text-align: center;
color: white;
background-color: rgba(163, 83, 10, 0.7);
padding: 55px 0 55px 0;
border-radius:0px 0px 25px 25px;
width: 100%;
}

.screen-3-photo:hover .filter{
filter: brightness(50%);
}
.screen-3-photo .filter:hover{
    filter: none;
}

.screen-3-photo>div>.screen-3-text:hover {
    filter: none;
}

.screen-4-content{
display: flex;
padding: 5% 10% 1% 10%;

}
.screen-4-content-left{
width: 60%;
font-family: Rosario;
font-size: 64px;
font-style: italic;
font-weight: 700;
line-height: 78px;
letter-spacing: 0em;
text-align: center;
flex-shrink: 2;
}

.screen-4-content-right{
    width: 40%;

}

.screen-4-content-left-tittle{
    width:90%;
    margin-bottom: 2%;
}
.screen-4-content-left-table{
display: grid;
grid-template-areas: "a b" 
                     "c c" ;
background-color: #E5E5E5;
gap: 50px;
padding: 35px 28px;
}
.screen-4-content-left-table-1{
grid-area: a;
}
.screen-4-content-left-table-2{
    grid-area: b;
}
.screen-4-content-left-table-3{
    grid-area: c;
    
}
.screen-4-content-left-table-1-text{
    font-family: Rosario;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: gray;
    background-color: white;
    padding-left: 15px;
}
.screen-4-content-left-table-2-text{
    font-family: Rosario;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: gray;
    background-color: white;
    padding-left: 15px;
}
.screen-4-content-left-table-3-text{
    font-family: Rosario;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: grey;
    background-color: white;
    padding-bottom: 180px;
    padding-left: 15px;
}

.screen-4-content-right{
    padding-left: 5%;
    margin-top: 5.8%;
}

.screen-4-content-down{
    padding: 1% 14%  1% 14%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap  ;
}

.screen-4-content-down-1, .screen-4-content-down-2, .screen-4-content-down-3 {
    font-family: Rosario;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration:none ;
    
    
}

.email, .phone{
    text-decoration: none;
    color: black;
}

.screen-4-content-down-1{
    width:33% ;
}

.screen-4-content-down-2-title, .screen-4-content-down-3-title{
    font-weight: 700;
    margin-bottom: 40px;
}

.screen-4-content-down-3-instagram, .screen-4-content-down-3-facebook, .screen-4-content-down-3-twitter{
    display: flex;
    justify-content:flex-start;
    
}
.screen-4-content-down-3-instagram>a, .screen-4-content-down-3-facebook>a, .screen-4-content-down-3-twitter>a,
.screen-4-content-down-3-instagram-img, .screen-4-content-down-3-facebook-img, .screen-4-content-down-3-twitter-img{
    text-decoration: none;
    display: inline-block;
    color: black;
}
.screen-4-content-down-3-instagram-text, .screen-4-content-down-3-facebook-text, .screen-4-content-down-3-twitter-text{
margin-left: 10px;
display: inline-block;
}

.screen-4-content-down-3-instagram-img{
    margin-left: 6px;

}