:root {
    --main-color: white;
    --second-color: #FFB742;
    --color-black: #292B2E;
    --p: 30px;
    --orange: #FFB742;
    --white: #FFFFFF;
}


body {
    background-color: #212529;
    width: 100%;


}

.menu{
    position: relative;
    display: flex;
    margin-top: 25px;
}
.menu-logo{
    width: 90px;
}

.menu-logo-1 {
    position: absolute;
    top: 9px;
    left: 62px;
}

.menu-logo-2 {
    position: absolute;
    top: 35.45px;
    left: 66.96px;
}

.menu-logo-3 {
    position: absolute;
    top: 9px;
    left: 97.6px;
}

.menu-logo-4 {
    position: absolute;
    top: 19.13px;
    left: 97.58px;
}

.menu-text {
    color: white;
    margin: auto;
text-decoration: none;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
   
    width: 374px;
}

.menu-cursor:hover {
    color: #FFB742;
    cursor: pointer;
}

.menu-button {
    width: 121px;
    height: 54px;
    border-radius: 30px;
    background-color: #FFB742;
    text-align: center;
    padding-top: 12px;
    top: 23px;
    left: 1300px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin-right:  48px;
}

.menu-button:hover {
    color: white;
    cursor: pointer;
}

.face {
    margin: auto;
    margin-top: 100px;
    text-align: center;

}

.face-tittle {
    color: var(--main-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 50.75px;
}

.face-tittle-name {
    color: #FFB742;
}

.face-text {
    font-weight: 700;
    font-size: 48px;
    line-height: 90.85px;
    color: var(--main-color);
}

.face-subtext {
    margin-top: 25px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--main-color);

}

.face-photo {
    width: 210px;
    margin: auto;
    margin-top: 22px;
}

.about_me {
    display: flex;
    color: var(--main-color);
    margin-top: 225px;
}

.about_me-text {
    margin-left: 30px;
}


.about_me-text-button {
    height: 42px;
    width: 148px;
    background-color: #FFFFFF14;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
    border-radius: 30px;
    color: var(--second-color);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;

}

.about_me-fon {
    position: absolute;
    left: 80px;
    z-index: -1;
}

.about_me-photo {
    width: 620px;
}

.about_me-text-tittle {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;

}

.about_me-text-main {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    height: 176.9327392578125px;
    width: 672px;
    left: 717px;
    top: 1238.6497802734375px;
    border-radius: nullpx;
    margin-top: 30px;


}

.menu-button-2 {
    width: 121px;
    height: 54px;
    border-radius: 30px;
    background-color: #FFB742;
    text-align: center;
    padding-top: 12px;
    top: 23px;
    right: 48px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: black;
    margin-top: 66px;
}

.skills {
    display: flex;
    color: var(--main-color);
    margin: 20px 0 0 50px;
}

.my-skils {
    height: 42px;
    width: 148px;
    background-color: #FFFFFF14;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
    border-radius: 30px;
    color: var(--second-color);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
}

.my-skills-tittle {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    font-family: roboto;
    width: 518px;
}

.my-skills-text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 30px;
    width: 672px;
}

.menu-button-3 {
    margin-top: 75px;
}

.menu-button-3:hover {
    color: white;
    cursor: pointer;

}

.menu-button-2:hover {
    color: white;
    cursor: pointer;

}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 136px;
}

.card {
    width: 32%;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--p) - 5px) var(--p);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

.card:hover {
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);

}

.card-content>div:first-child {
    color: var(--orange)
}

.card-content>div:last-child {
    color: var(--white)
}

.skills-prog {
    display: grid;
    height: 180px;
    grid-template-columns: repeat(6, 80px);
    position: relative;
    right: -100px;
    gap: 16px;
    align-content: center;


}

.skills-prog-img {
    height: 80px;
    width: 80px;
    background-color: #383E45;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 10px;
}
.skills-prog-img:hover{
    background-color: rgba(255, 183, 66, 0.5);
    cursor: pointer;
}




.my-works-button {
    height: 42px;
    width: 148px;
    background-color: #FFFFFF14;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
    border-radius: 30px;
    color: var(--second-color);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    margin: auto;
    margin-top: 136px;
}

.my-works-tittle {
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.my-works-menu {
    display: flex;
    width: 600px;
    margin: auto;
    justify-content: space-between;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-top: 35px;
    text-align: center;



}

.my-works-menu-1 {
    width: 61px;
    height: 30px;
}

.my-works-menu-2 {
    width: 92px;
    height: 30px;
}

.my-works-menu-3 {
    width: 127px;
    height: 30px;
}

.my-works-menu-4 {
    width: 180px;
    height: 30px;
}

.my-works-menu-11:hover {
    background-color: #FFB742;
    color: #212529;
    cursor: pointer;
}

.my-works-menu-photo {
    margin-top: 50px;
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(3, 390px);
    grid-template-areas: "a b c"
        "a e c"
        "d e g";

}

.my-works-menu-photo-1 {
    grid-area: a;
}

.my-works-menu-photo-2 {
    grid-area: b;
}

.my-works-menu-photo-3 {
    grid-area: c;
}

.my-works-menu-photo-4 {
    grid-area: d;
    margin-top: -126px;
}

.my-works-menu-photo-5 {
    grid-area: e;
}

.my-works-menu-photo-6 {
    grid-area: g;
    margin-top: -126px;
}

.testimonials-button {
    height: 42px;
    width: 148px;
    background-color: #FFFFFF14;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
    border-radius: 30px;
    color: var(--second-color);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    margin: auto;
    margin-top: 141px;
}

.testimonials-tittle {
    font-family: Roboto;
    font-size: 39px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
.testimonials-feedback{
    display: flex;
    justify-content: space-evenly;
    margin:90px 0 0 20px;
}
.testimonials-feedback-photo{
width: 378px;
}

.footer{
    background-color:#1C1C1C ;
    margin-top: 253px;
    padding-top: 148px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.foooter-name-tittle{
    font-family: Poppins;
font-size: 32px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: #FFB742;
}
.footer-name-subtittle{
font-family: Work Sans;
font-size: 16px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: #D4D4D4;
margin-top: 30px;
width: 253px;


}
.footer-useful-text{
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
margin-top: 13px;
margin-bottom: 93px;


}

.decor:hover{
    color: #FFB742;
}


.decor{
    text-decoration:none;
    color: #7B7B7B;
}

.footer-useful-tittle{
font-family: Work Sans;
font-size: 22px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: #F5FBF2;
}

.footer-newsletter-text{
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #7B7B7B;
}
.decor2{
    text-decoration: none;
    color: white;
}