.header{
    width: 100%;
    height: 773px;
    background-color: #000000;
}
.header_menu{
    margin: auto;
    width: 70%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
   
}
.header_menu_main{
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
display: flex;
margin-left: 60%;
width: 300px;
justify-content: space-between;

}

.header-menu_decor{
    text-decoration: none;
    color: #FFFFFF;
}
.header-menu_decor:hover{
    cursor: pointer;
}

.header_menu_big{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 32px;
    
}

.menu_pointer{
    color: orange;
    font-size: 50px;
}
.header_text{
    margin-top: 250px;
    width: 540px;
    color: #FFFFFF;
    margin-left:  234px;
}

.header_body{
    display: flex;
}

.header_text_tittle{
    font-family: Poppins;
font-size: 64px;
font-weight: 600;
line-height: 72px;
letter-spacing: 0em;
text-align: left;
height: 144px;
}

.header_text_main{
    font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
margin-top: 34px;

}
.header_img{
 
    width: 640px;
    margin-top: 32px;
    margin-bottom: -120px;
margin-right: -10%;
    

}

