@media screen and (max-width:768px) {
header .fa-solid{
    display: block;
    position: fixed;
    color: white;
    right: 15px;
}

.fa-solid:hover + .header-text{
    display: block
}

    .screen-1,
    .screen-2,
    .screen-3,
    .screen-4 {
        min-height: auto;
        max-height: none;
        overflow: hidden;
    }


    .screen-2 {
        height: 92vh;
    }

    .screen-3 {
        height: 222vh;
    }

    .header-img {
        width: 30%;
    }

    .header-text {
        font-family: Rosario;
        font-size: 14px;
        font-style: italic;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        display: none;
        position: absolute;
        right: 0;
        background-color: black;
        width: 100%;
    }
    header li{
        padding: 15px 10px;
        
    }

    .header-main {
        width: 70%;
        padding: 5% 0%;
    }

    .gallery1 {
        display: block;
        margin: 2% 2% 64px 2%;

    }

    .gallery-first,
    .gallery-last {
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 90%;
    }

    .gallery1-center {
        display: grid;
        grid-template: 410px 364px /465px;
        gap: 20px 18px;
        justify-content: center;
        z-index: 3;
        margin: auto;
        margin-top: 20px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: contain;

    }

    @keyframes galleryPhoto3 {
        from {
            position: relative;
            transform: translate(500px, 0)
        }

        to {
            transform: translate(0, 0);
            opacity: 100%;
        }
    }


    @keyframes galleryPhoto4 {
        from {
            position: relative;
            transform: translate(500px, 0)
        }

        to {
            transform: translate(0, 0);
            opacity: 100%;
        }
    }

    .gallery-center-container-2,
    .gallery-center-container-5,
    .gallery-center-container-3,
    .gallery-center-container-4 {
        animation-duration: 3s;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 90%;
    }

    .gallery-2-right {
        display: none;
    }

    .gallery-2 {
        display: block
    }

    .gallery-2-left {
        display: grid;
        grid-template: 50vh 25vh/25vw 25vw;
        gap: 120px;
        margin: 26px 9% 39px 3%;
        position: relative
    }

    .gallery-2-left img {
            width: 26vh;
            margin-left: 17%;
    }

    .gallery-2-left-text {
        font-size: 24px;

    }


    .screen-3-tittle {
        font-size: 40px;
        line-height: 48px
    }

    .screen-3-photo {
        display: block;

        height: 100vh;


    }

    .screen-3-photo-1 {
        background: url(../img/Rectangle\ 8.png) center center/cover no-repeat;
        background-repeat: no-repeat;
        border-radius: 0px 0px 25px 25px;
        background-size: contain;
        margin: auto;
        height: 46%;

    }

    .screen-3-photo-2 {
        background: url(../img/Rectangle\ 9.png)center center/cover no-repeat;
        width: 392px;
        background-repeat: no-repeat;
        border-radius: 0px 0px 25px 25px;
        background-size: contain;
        margin: auto;
        height: 46%;
        margin-top: 4%;
    }

    .screen-3-photo-3 {
        background: url(../img/Rectangle\ 10.png)center center/cover no-repeat;
        width: 400px;
        background-repeat: no-repeat;
        border-radius: 0px 0px 25px 25px;
        background-size: contain;
        margin: auto;
        height: 46%;
        margin-top: 4%;
    }

    .screen-3-photo-4 {
        background: url(../img/Rectangle\ 11.png)center center/cover no-repeat;
        background-size: contain;
        margin: auto;
        height: 46%;
        margin-top: 4%;
    }

    .screen-3-text {
        top: 70%;
        background-size: contain;
        margin: auto;
    }

    .text-format {
        font-family: Volkhov;
        font-size: 30px;
        line-height: 25px;
        width: 66%;
    }

    .screen-4-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        padding: 0;
    }

    .screen-4-content-left {
        width: 100vw;
        font-size: 24px;
        line-height: 30px;
        margin: auto;
        margin-top: 5%;
    }

    .screen-4-content-left-table div {
        font-size: 18px;
    }

    .screen-4-content-right {
        overflow: hidden;
        width: 100vw;
    }

    .screen-4-content-down-1,
    .screen-4-content-down-2,
    .screen-4-content-down-3 {
        font-size: 16px;
        line-height: 30px;
    }

    .screen-4-content-down-1 {
        width: 55%;
    }

    .screen-4-content-down-2 {
        width: 45%;
    }

    .screen-4-content-down-3 {
        width: 100%;
    }

    .screen-4-content-down-3-content {
        display: flex;
        justify-content: space-between;
    }

    .screen-4-content-down-3-title {
        margin-bottom: 4%;
        margin-top: 3%;
    }

    .screen-4-content-down {
        padding: 1% 5% 1% 5%;
    }

    .screen-4-content-right>iframe {
        width: 87%;
    }

    .screen-4-content-down-2-title {
        margin-bottom: 2%;
    }
}

@media screen and ((min-width:768px)and (max-width:992px)) {


    .screen-1,
    .screen-2,
    .screen-3,
    .screen-4 {
        min-height: auto;
        max-height: none;
        overflow: hidden;
    }

    .screen-1 {
        max-height: 136vh;
    }

    .screen-2 {
        height: 134vh;
    }

    .screen-3 {
        height: 106vh;
    }

    .header-img {
        width: 30%;
    }

    .header-text {
        font-size: 22px;
        line-height: 30px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .header-main {
        width: 70%;
        padding: 5% 0%;
    }

    .gallery1 {
        display: grid;
        grid-template: 46% 51% /1fr 1fr;
        gap: 2%;
        margin: 2%;
    }

    .gallery1-center {
        grid-column: 1/3;
        grid-row: 2;
        margin: 0;
    }

    .gallery-first {
        grid-column: 1;
        grid-row: 1;
    }

    .gallery-last {
        grid-column: 2;
        grid-row: 1;
    }

    .gallery-first {
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 50vh;
        background-position: right;
    }

    .gallery-last {
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        width: 100%;
        height: 50vh;
    }

    .gallery-center-container-2,
    .gallery-center-container-5,
    .gallery-center-container-3,
    .gallery-center-container-4 {
        animation-duration: 3s;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 90%;
        height: 36vh;
    }

    .gallery-center-container-2,
    .gallery-center-container-3 {
        margin-right: 0;
    }

    .gallery-center-container-4,
    .gallery-center-container-5 {
        margin-left: 0;
    }


    .gallery1-center {
        grid-template: 35vh 45vh /37vw 37vw;
        gap: 2%;

    }

    .gallery-2 {
        flex-direction: column;
    }

    .gallery-2-right {
        position: unset;
        margin: auto;
        margin-bottom: 3%;
    }

   


    .gallery-2-left {
        display: grid;
        grid-template: 50vh 25vh/25vw 25vw;
        gap: 120px;
        margin: 26px 9% 39px 3%;
        position: relative;
        margin: auto;
    }

    .gallery-2-left img {
        width: 23vh;
    }

    .gallery-2-left-text {
        font-size: 24px;

    }


    .screen-3-tittle {
        margin-top: 0;
        padding-top: 0;
        font-size: 50px;
        line-height: 60px
    }

    .screen-3-photo {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 67% 67%;
    }

    .screen-3-photo-1 {
        background: url(../img/Rectangle\ 8.png) center center/cover no-repeat;
        background-repeat: no-repeat;
        border-radius: 0px 0px 25px 25px;
        background-size: contain;
        margin: auto;
        height: 100%;
        margin-right: -10%;

    }

    .screen-3-photo-2 {
        background: url(../img/Rectangle\ 9.png)center center/cover no-repeat;
        width: 392px;
        background-repeat: no-repeat;
        border-radius: 0px 0px 25px 25px;
        background-size: contain;
        margin: auto;
        height: 100%;
        margin-left: -10%;

    }

    .screen-3-photo-3 {
        background: url(../img/Rectangle\ 10.png)center center/cover no-repeat;
        width: 400px;
        background-repeat: no-repeat;
        border-radius: 0px 0px 25px 25px;
        background-size: contain;
        margin: auto;
        height: 100%;
        margin-top: 4%;
        margin-right: -10%;
    }

    .screen-3-photo-4 {
        background: url(../img/Rectangle\ 11.png)center center/cover no-repeat;
        background-size: contain;
        margin: auto;
        height: 100%;
        margin-top: 4%;
        margin-left: -10%;
    }

    .screen-3-text {
        top: 70%;
        background-size: contain;
        margin: auto;
    }

    .text-format {
        font-family: Volkhov;
        font-size: 30px;
        line-height: 25px;
        width: 67%;
    }

    .screen-4-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        padding: 0;
    }

    .screen-4-content-left {
        width: 100vw;
        font-size: 34px;
        line-height: 40px;
        margin: auto;
        margin-top: 5%;
        grid-row: 2;
        grid-column: 1;
    }

    .screen-4-content-left-table div {
        font-size: 26px;
    }

    .screen-4-content-right {
        overflow: hidden;
        width: 100vw;
        grid-row: 1;
        grid-column: 1;
    }

    .screen-4-content-down-1,
    .screen-4-content-down-2,
    .screen-4-content-down-3 {
        font-size: 22px;
        line-height: 30px;
    }

    .screen-4-content-down-1 {
        width: 55%;
    }

    .screen-4-content-down-2 {
        width: 45%;
    }

    .screen-4-content-down-3 {
        width: 100%;
    }

    .screen-4-content-down-3-content {
        display: flex;
        justify-content: space-between;
    }

    .screen-4-content-down-3-title {
        margin-bottom: 4%;
        margin-top: 3%;
    }

    .screen-4-content-down {
        padding: 1% 5% 1% 5%;
    }

    .screen-4-content-right>iframe {
        width: 87%;
    }

    .screen-4-content-down-2-title {
        margin-bottom: 2%;
    }

}

@media screen and ((min-width:992px)and (max-width:1600px)) {

    .screen-1,
    .screen-2,
    .screen-3,
    .screen-4 {
        height: 90vh;
        max-height: none;
        overflow: hidden;
    }

    .gallery-1 {
        margin: 2%;
    }

    .gallery1-center {
        grid-template: 33vh 37vh /25vw 25vw;
    }

    .gallery-center-container-2,
    .gallery-center-container-5,
    .gallery-center-container-3,
    .gallery-center-container-4 {
        animation-duration: 3s;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 36vh;
    }

    .gallery-first {
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 50vh;
        background-position: center;
    }

    .gallery-last {
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 50vh;
    }

    .gallery-2-right {
        width: 45vw;
    }

    .gallery-2-left img {
        width: 75%;
    }

    .gallery-2-left {
        display: grid;
        grid-template: 50vh 25vh/25vw 25vw;
        gap: 120px;
        margin: 26px 9% 39px 3%;
        position: relative;
        margin: 0;
    }
    .screen-3-photo{
        height: 54vh;
    }

    .screen-3-photo-1 {
        background: url(../img/Rectangle\ 8.png) center center/cover no-repeat;
        background-size: contain;
        margin: auto;
        height: 100%;
        
        

    }

    .screen-3-photo-2 {
        background: url(../img/Rectangle\ 9.png)center center/cover no-repeat;
        width: 2;
        background-size: contain;
        margin: auto;
        height: 100%;
        margin-left: 2%;
       

    }

    .screen-3-photo-3 {
        background: url(../img/Rectangle\ 10.png)center center/cover no-repeat;
        width: 400px;
        background-repeat: no-repeat;
        border-radius: 0px 0px 25px 25px;
        background-size: contain;
        margin: auto;
        height: 100%;
        margin-left: 2%;
       
        
        
    }

    .screen-3-photo-4 {
        background: url(../img/Rectangle\ 11.png)center center/cover no-repeat;
        background-size: contain;
        margin: auto;
        height: 100%;
        margin-left: 2%;
       
    }

    .screen-3-text {
        top: 73%;
        background-size: contain;
        margin: auto;
    
    }

    .text-format {
        font-size: 30px;
        line-height: 25px;
        width: 32vh;
        padding: 6vh 0 6vh 0;
    }
    .screen-3-tittle {
        margin: 3% 6% 2% 6%;
    }
    .screen-4-content-right{
        margin-right: 2%;
    }
}