body {
    background-color: #E5E5E5;

}


section {
    padding: 5% 5%;
    margin: 0 auto;
    height: 50vh;
    width: 50vw;

}

.facebook {
    display: grid;
    grid-template-columns: 34% 29% 29%;
    grid-template-rows: 30% 25% 16% 20%;
    height: 100%;
    gap: 4%;
    border-radius: 20px;
    padding: 4%;

}

.main-inform,
.deviz,
.dream,
.frustrations,
.goals,
.bio,
.personality {
    background-color: white;
    padding: 5% 8%;
    border-radius: 20px;
    box-shadow: 7px 7px  black
}

.main-inform {
    padding: 15px 25px;
    grid-row: 1/4;
}

section>div {
    background-color: #FFB084;
}

.main-inform>.title {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}

.main-inform>img {

    margin: 0 auto;
    margin-top: 17px;
    display: block;
}

.first-part {
    margin-top: 17px;
    display: flex;

}

.first-part>.pronouns {
    margin-left: 19px;
}

.facebook .text {
    margin-top: 7px;
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.second-part>div {
    margin-top: 14px;
}

.text span {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.deviz {
    grid-column: 1;
    grid-row: 4;
    margin: auto;
    padding: 15px 25px;
}
.facebook text{
    font-family: Work Sans;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

}
.deviz>.text {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}



section .tittle>span {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.bio {
    grid-row: 1;
    grid-column: 2/4;
}

.frustrations {
    grid-column: 3;
    grid-row: 2/4;
}

.personality {
    grid-column: 3;
    grid-row: 4;
}
.personality>.text{
    list-style-type: none;
}

.dream {
    grid-column: 2;
    grid-row: 3/5;
}


.dream{
    box-shadow: 7px 7px #3675B0
}
.dream .tittle{
    color:#3675B0 ;
}
.frustrations{
    box-shadow: 7px 7px #E13535;
}
.frustrations .tittle{
    color:#E13535 ;
}
.goals .tittle{
    color:#29A71E ;
}
.goals{
    box-shadow: 7px 7px #29A71E;
}
