.main {
    margin: auto;
    background-color: #F9F9F9;
    min-width: 700px;
    max-width: 1000px;
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 64px;

}

.tittle {
    font-family: Public Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;


}

.subtittle {
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 79px;
}

.star {
    color: red;
}

.subtittle2 {
    margin-top: 24px;
    font-family: Public Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}


.block {
    display: block;
}

.main-1 {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rozm {
    margin-top: 8px;
    height: 40px;
    width: 400px;
    padding-left: 10px;
    border: none;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-2 {
    background-image: url(./img/Vector.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-left: 3px;
    background-color: #74747467;
    opacity: 40%;

}

.input-11 {

    padding-left: 3px;
    background-color: #74747467;
    opacity: 40%;
}

.label {

    font-family: Public Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.main-2 {
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-input {
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #747474
}

.input-3 {
    padding-left: 10px;

}

.blue {
    color: blue;
    border: 1px solid black;
}

.checked {
    display: flex;
    flex: 0 1 400px;
    align-self: center;

}

.checkbox {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.checked-label {
    align-self: center;
}

.text-input-2 {
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}
.checkbox-pointer{
width: 24px;
height: 24px;
}

.form-3-text{
display: inline-block;
width: 360px;
}


.main-3 {
    margin-top: 21px;
    display: flex;

}

.line {
    margin-top: 27px;
    width: 100%;
    height: 1px;
    background-color: Grey;
    opacity: 20%;
}

.main-5 {
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.grey {
    color: gray;
}


.lupa {
    background-image: url(./img/Lupa.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;

}

.footer {
    height: 166px;
    display: flex;
    justify-content: end;
}

.button {
    background-color: #0050D8;
    color: #F9F9F9;
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    height: 40px;
    width: 69px;
    border-radius: 4px;
   margin-top: 16px;
   cursor: pointer;

}

.pointer{
    cursor: pointer;
}