
.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-main {
    width: 100%;
    height: 65px;
    background-color: #243B93;
    text-align:center ;
    box-sizing: border-box;
    display: flex;
justify-content: center;
}

.logo {
    height: 50px;
    margin: 7px 0 7px 0px;
}

.header-text {
    padding-left: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 20.7px;
    font-weight: 700;
    box-sizing: border-box;
    text-align: center;

}
.header-text-2{
color: white;
text-decoration: none;
margin-right: 57px;
}
.ua{
margin-bottom: 8px;

}
.globus-main{
    margin-left: 57px;
    margin-top: 7px;
}

.under-header {
    height: 85px;
    width: 100%;
    background-color: #BFF0FF;
    margin: auto;
}

.under-header-text {
    
    font-weight: 400;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 44px;
    line-height: 56.94px;
    color: #202846;
    font-style: italic;
    padding: 16px  0 11px 299px;
    box-sizing: border-box;
}


body {
    background-color: #f5f5f5;
    font-family: 'M PLUS 1', sans-serif;
}

.menu {
    margin: auto;
    margin-top: 27px;
    width: 68.75%;
    height: 57px;
    background-color: #ffffff;
    position: relative;

}

.menu-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 36.23px;
    text-align: center;
}

.menu-strilka {
    position: absolute;
    height: 33px;
    right: 2%;
    top: 12px;
}

.house {
    margin-top: 30px;

}

.house-blocks {
    width: 68.75%;
    height: 300px;
    margin: auto;
    background-color: #2CBDEB;
    display: flex;
    position: relative;
    margin-bottom: 42px;


}

.house-blocks-img {
    display: inline-block;
    height: 246px;

    margin: 33px 30px 33px 21px;
}

.house-blocks-title {
    margin-top: 14px;
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    line-height: 46.58px;
    color: #353C57;
}

.house-blocks-text {
    width: 66%;
}

.house-blocks-text-block {
    box-sizing: border-box;
    margin-right: 53px;
    background-color: #EDFBFF;
    height: 205px;
    padding: 10px 113px 83px 16px;
}

.house-line {
    height: 3px;
    width: 93%;
    background-color: #FFFFFF;
    margin-bottom: 13px;
}

.house-blocks-descrip {
    font-size: 22px;
    font-weight: 400;
    line-height: 28.47px;

}

.house-star {
    position: absolute;
    right: 3px;
    content: \2605;
    top: 3px;
}
.house-star:hover{
color:yellow;
cursor: pointer;
}


.house-detail {
    box-sizing: border-box;
    position: absolute;
    background-color: #EF075B;
    height: 46px;
    width: 210px;
    border-radius: 30px;
    bottom: 11px;
    right: -33px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    padding-top: 5px;
    color: #FFFFFF;
}

.house-detail:hover {
    background-color: #243B93;
    cursor: pointer;
}

.house-button {
    box-sizing: border-box;
    position: fixed;
    height: 101px;
    width: 101px;
    border-radius: 50%;
    background-color: #300C6A4D;
    text-align: center;
    bottom: 10%;
    right: 12%;
    padding-top: 29px;
}

.house-strilka {
    width: 23px;
}

.cabinet-line {
    width: 100%;
    height: 85px;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    padding: 17px 0 11px 299px;
    font-size: 44px;
    font-weight: 400;
    line-height: 56.94px;
    font-style: italic;
    color: #243B93;
    margin: auto;
    box-sizing: border-box;
}

.cabinet-info {
    height: 498px;
    width: 1318px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    margin: auto;
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
}

.cabinet-desk-photo{
    width:196px ;
    margin-top: 77px;
}
.cabinet-desk-button{
margin-top:35px ;
height: 46px;
    width: 210px;
    background-color: #EF075B;
    border-radius: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    padding-top: 5px;
    box-sizing: border-box;
    color: #f5f5f5;

}
.cabinet-desk-button:hover {
    background-color: #243B93;
    cursor: pointer;
}
.cabinet-text{
    margin-top: 66px;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    line-height: 46.58px;
    color: #353C57;
}
.cabinet-text-detail-dop{
    font-weight: 400;
}
.cabinet-text-line{
margin-top: 21px;
margin-bottom: 10px;
background-color: #ffffff;
width: 712px;
height: 1px;

}

.exit{
    box-sizing: border-box;
    height: 50px;
    width: 174px;
    background-color: #243B93;
    border-radius: 30px;
    text-align: center;
    padding-top: 9px;
    margin: auto;
    margin-top: 19px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.06px;
    color: #FFFFFF;
}
.contact{
    width: 100%px;
    height: 85px;
    margin-top: 56px;
    padding-left: 299px;
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    font-weight: 400;
    font-size: 44px;
    font-style: italic;
    line-height: 56.94px;
    color:#243B93 ;
    margin: auto;
    margin-top: 66px;
    box-sizing: border-box;
}
.footer-body{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-weight: 400;
    margin: auto;
    margin-top: 25px;
    width: 100%;
}
.footer-body-contacts{
margin-left: 1px;
}
.footer-body-contacts-line{
    width: 244px;
    height: 3px;
    background-color: #202846;
    margin:5px 0;
}
.footer-body-contacts-mail{

    box-sizing: border-box;
    padding-right: 130px;
}
.footer-body-contacts-adress{
    padding-top: 13px;
    box-sizing: border-box;
}

.footer-body-map{
    width: 499px;
    height: 290px;
    border: 3px solid #243B93;
    border-radius: 30px;
}
.footer-body-map1{
    border-radius: 30px;
}
.end{
   width: 100%;
   height: 65px;
   background-color: #243B93;
   margin: auto;
   margin-top: 28px;
   font-weight: 700;
   font-size: 16px;
   color: white;
   padding: 23px 0 0 300px;
   box-sizing: border-box;
}
