.modal{
position: relative;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100%;

}

.content{
    position: relative;
}

.tab_1_content, .tab_2_content, .tab_3_content{
height: 200px;
width: 400px;
border:solid black 1px;
position: absolute;
background-color: white;
}
.tab_2_content, .tab_3_content{
    display: none;
}
